<ion-tabs class="tabs-striped tabs-top mytabs">
    <ion-tab class="mytabs-title" style="border-width: 0px 0px 0px 0px !important;" title="Inicio" on-select="onTab('Inicio')">
    </ion-tab>
    <ion-tab class="mytabs-title" style="border-width: 0px 0px 0px 0px !important;" title="Categorias" on-select="onTab('Categorias')">
    </ion-tab>
    <ion-tab class="mytabs-title" style="border-width: 0px 0px 0px 0px !important;" title="Perfil" on-select="onTab('Perfil')">
    </ion-tab>
    <ion-tab class="mytabs-title" style="border-width: 0px 0px 0px 0px !important;" title="Carro" on-select="onTab('Carro')">
    </ion-tab>
    <ion-tab class="mytabs-title" style="border-width: 0px 0px 0px 0px !important;" title="Salir" on-select="onTab('Salir')">
    </ion-tab>
</ion-tabs>