<ion-view title="Profile" cache-view="false" ng-init="init()">
	<div ng-include src="'templates/navtabs.html'"></div>
	<ion-content padding="true" class="has-tabs-top">
		<div class="item item-thumbnail center-text">
			<img src="img/contact-icon.png" width="35%">
		</div>
		<div class="list center-text">
			<p>Nombre: {{profile.name}}</p>
			<p>Email: {{profile.mail}}</p>
			<p>Numero: {{profile.phone}}</p>
			<br>
			<button class="button button-positive button-small" ng-click="onEditAddress()">Editar direcciones</button>
		</div>
		<div class="center-text">
			<img src="img/historial-pedido-banner.png" width="100%">
		</div>
		<ul class="list" ng-repeat="h in listHistorialPedidos">
			<li class="item item-list-historial">
				Fecha: {{h.fecha_pedido}}   Estado: {{h.estadoPedido}}
				<i class="icon ion-chevron-right icon-right icon-list-historial" style="float: right;"></i>
			</li>
		</ul>
	</ion-content>
</ion-view>