<ion-view title="Delivery" hide-nav-bar="true" cache-view="false" ng-init="init()">
	<ion-header-bar class="app-icon-header bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-chevron-left custom-icon-white" ng-click="backView()"></button>
		</div>
		<h1 class="title">Detalles</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-ios-telephone custom-icon-white" ng-click="onLlamarUsuario()">Usuario</button>
		</div>
	</ion-header-bar>
	<ion-content padding="false" class="manual-ios-statusbar-padding">
		<div class="card">
			<div class="item item-divider">
				<h2>#{{p.id}}</h2> {{p.fecha_pedido}}
			</div>
			<div class="item item-text-wrap">
				<b>Dirección:</b> {{p.direccion}} <br>
				<b>Cliente:</b> {{p.nombre}} <br>
				<b>Forma de pago:</b> {{p.nombre}} <br>
				<b>Instrucciones:</b> {{p.instrucciones}} <br>
			</div>
		</div>
		<button class="button" ng-show="showBtnRecolectar" ng-click="onRecolectarPedido()">Recolectar pedido</button>
		<!-- Contenido pedido -->
		<div class="container" ng-show="isRecolectando">
			<div class="row item" ng-repeat="p in productsPedido">
				<div class="col col-100">
					<div>
						<div class="item-item-cart-left" style="width: 70%;">
							<img ng-src="{{p.img_l}}" width="50px"/>
							<p class="text-item-cart item-text-wrap">{{p.nombre}}</p>
							<p class="text-cart-price"> {{p.cantidad}} x COP {{p.precio | currency:undefined:0}}</p>
						</div>
						<div class="div-btn-main center-item-cart item-item-cart-right" style="width: 30%;">
							<input type="checkbox" ng-model="p.checked">
							<div class="track">
								<div class="handle"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-assertive">
		<div class="buttons">
		</div>
		<h1 class="title"></h1>
		<div class="buttons">
			<button style="font-weight: bold;" class="button ion-checkmark-circled button-clear icon-left" ng-click="onEntregar()">Entregar</button>
		</div>
	</ion-footer-bar>
</ion-view>