<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page1">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/MOdSxHgRQem5WXWHdbgV_MainImage.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="login-button1" class="button button-positive button-small button-block">Login with facebook</button>
    <div id="login-markdown2" class="show-list-numbers-and-dots"></div>
    <form id="login-form1" class="list">
      <label class="item item-input" id="login-input1">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email...">
      </label>
      <label class="item item-input" id="login-input2">
        <span class="input-label">Password</span>
        <input type="text" placeholder="Password...">
      </label>
    </form>
    <button id="login-button3" class="button button-positive button-small">Olvido contraseña</button>
    <button id="login-button2" class="button button-positive button-small">Ingresar</button>
    <button id="login-button4" class="button button-positive  button-block">Registrarse</button>
  </ion-content>
</ion-view>